.container {
    padding-top: 12px;
    border: 1px solid red;

    
}
@media only screen and (min-width: 1288px) {
    .container {
        width: 75% !important;
        max-width: 1140px
    }
    
}
@media only screen and (max-width: 760px) {
   /* /
         display: none;
     }
     
     .enter-cab {
         display: none;
     }
     .current-address_text {
         display: none;
     }

        }



.logo {
    width: 170px;
    padding: 0 13px;
    max-width: 100%;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
}

.search_input {
width: 95%;
height: 0;
text-align: right;
    font-size: 14px;
    color: #6b6a6a;
    position: relative;
    top: -35px;
}
.header_logo {
    width: 45px;
    height: 45px;
}
.current-address_text {
    font-size: 14px;
    color: #2C2C2C;
    inline-size: 110px; 
    padding: 12px 5px 0 0;   
}
.enter-cab {
    color: #2C2C2C;
    padding-top: 12px;
    text-align: right;

} */